<phpunit bootstrap="boot.php"
         colors="true"
         convertErrorsToExcetions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true">
    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>
    <testsuites>
        <testsuite name="U">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="F">
            <directory>Functional</directory>
        </testsuite>
    </testsuites>
</phpunit>